/* 全てのページに適用される設定　*/
html {
    font-size: 16px;
    font-family: sans-serif;
}
body {
    margin:0 0 0 0;
}
p, li, td {
    line-height: 1.7;
}
h1{
    margin: 0 0 0 20px;
}
h2{
    margin: 40px 0 0 40px;
}
h3{
    margin: 20px 0 0 50px;
}
p{
    margin: 3px 0 0 50px;
}
span{
    color: red;
}
button {
    border: none;
    outline: none;
    background: transparent;
}
.btn {
    background-color: #ffffff;
    border-bottom: 4px solid #ffffff;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 0rem 0rem;
    text-decoration: none;
    transition: none;
}

.btn:hover {
    border-bottom: 0;
    transform: translateY(4px);
    margin-bottom: 4px;
}
.btn_1 {
    background-color: rgb(149, 228, 149);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 700;
    padding: 0rem 0rem;
    text-decoration: none;
}

.btn_1:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
.btn_2 {
    background: #e5e5e5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 700;
    padding: 0rem 0rem;
    text-decoration: none;
}

.btn_2:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
/* 全てのページに適用 - ヘッダー　*/

.logo {
    text-align: center;
}
.nav ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;

    padding-top: 20px;
    padding-bottom: 20px; 
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(149, 228, 149);
    color: black;

    display: flex;
    gap: 40px;

}

/* -------------------------- */
/* ▼メインメニュー項目の装飾 */
/* -------------------------- */
ul.ddmenu li {
    position: relative;     /* ★3:サブメニュー表示の基準位置にする */
}
ul.ddmenu a {

    display: block;            /* ★4:項目内全域をリンク可能にする */
}


/* ▼サブメニューは、とりあえず非表示にしておく */
ul.ddmenu ul {
    display: none;         /* ★5:非表示にする */
}
/* -------------------- */
/* ▼サブメニューの装飾 */
/* -------------------- */
ul.ddmenu ul {
    display: none;       /* ★1:標準では非表示にする */
    margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
    padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
    position: absolute;  /* ★4:絶対配置にする */
}
 
 /* ---------------------------------- */
 /* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
 /* ---------------------------------- */
ul.ddmenu li:hover ul {
    display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
}
/* ------------------------ */
/* ▼サブメニュー項目の装飾 */
/* ------------------------ */
ul.ddmenu ul li {   /* ※A */
    width: 135px;               /* サブメニュー1項目の横幅(135px) */
    border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
}
ul.ddmenu ul li a {   /* ※B */
    line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
    text-align: left;    /* 文字列の配置(左寄せ) */
    padding-left: 5px;   /* 文字列前方の余白(5px) */
    font-weight: normal; /* 太字にはしない */
}
ul.ddmenu ul li a:hover {   /* ※C */
    background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
    color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}

.nav a:link {
    color: #253958;
}
.nav a:visited {
    color: #253958;
}
.nav a:hover {
    text-decoration: none;
}
.nav a:active {
    text-decoration: none;
}


/* 全てのページに適用 - ヒーロー　*/

/* 全てのページに適用 - メイン　*/
main h2 {
    color: black;
}

/* 全てのページに適用 -　フッター　*/
.footer01 {
    color: #808080;
    background: #e5e5e5;
    padding: 30px;
   }
   .footer01 a {
    color: #808080;
    text-decoration: none;
   }
   .footer01 a:hover {
    text-decoration: underline;
   }
   .footer01 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   }
   .footer01 .menu li {
    margin: 0;
    padding: 0 20px 0 0;
   }
   .footer01 .copyright {
    margin: 0;
    padding: 20px 0 0 0;
   }

/* 個別のスタイル　*/
.nav1 ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    gap: 40px;
}
.nav1 a:link {
    color: #253958;
}
.nav1 a:visited {
    color: #253958;
}
.nav1 a:hover {
    text-decoration: none;
}
.nav1 a:active {
    text-decoration: none;
}

/* project.html　*/
